/* Form screen structure modeled on post screens */
.chief-sfc-form-page .metabox-holder { margin-right:300px; }
.chief-sfc-form-page #postbox-container-1 { width:100%; min-width:463px; float:left; }
.chief-sfc-form-page #postbox-container-2 { float:right; margin-right:-300px; width:280px; }
@media screen and ( max-width:850px ) {
	.chief-sfc-form-page .metabox-holder { margin:0; }
	.chief-sfc-form-page #postbox-container-1 { min-width:0; }
	.chief-sfc-form-page #postbox-container-2 { margin-right:0; width:100%; }
}

/* Form screen elements */
.chief-sfc-form-page select { width:200px; }
.chief-sfc-form-page .object-spinner { float:none; }

/* Submit box */
.chief-sfc-form-page .submit-container { float:none; text-align:right; padding:20px; margin-top:25px; border-top:1px solid #dedede; background:#f9f9f9; position:relative;}
.chief-sfc-form-page #submit { padding:5px 20px; font-size:18px; height:auto; font-weight:200; }
.chief-sfc-form-page .submitdisable { color:red; border-bottom:1px solid red; margin-right:25px; margin-top:12px; padding:1px 2px; text-decoration:none; float:left; }
.chief-sfc-form-page .submitdisable:hover { background:red; color:#fff; }
.chief-sfc-form-page .submit-spinner { position:absolute; top:27px; left:100px; }

/* Settings screen */
.chief-sfc-settings ol ol {
	list-style-type:upper-alpha;
}

/* Global enabled/disabled styles */
.chief-sfc-form-page .enabled, .chief-sfc-list .enabled, .chief-sfc-settings .authorized { color:green; }
.chief-sfc-form-page .disabled, .chief-sfc-list .disabled, .chief-sfc-settings .unauthorized { color:#999; }